.img-container {
  position: relative;
  overflow: hidden;
  width: 60dvh;
  aspect-ratio: 16/9;
  max-width: 1100px;
  object-fit: cover;
}

.promote-img {
  position: relative;
  height: 100%;
}

.goods-tag {
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  padding: 1rem;
  width: fit-content;
  max-width: 250px;
  position: absolute;
  top: 60%;
}

.carousel-slide {
  width: 60dvh;
  aspect-ratio: 16/9;
  max-width: 1100px;
  overflow: hidden;
  display: flex;
  align-items: center;
}

.arrow {
  font-size: 1.5vw;
  aspect-ratio: 1/1;
}

.dot {
  width: 0.5vw;
  height: 0.5vw;
  margin: 0.25vw;
  background-color: #d9d9d9;
  border-radius: 50%;
  cursor: pointer;
}

.active {
  background-color: #404040;
}
