.img-container {
  position: relative;
  overflow: hidden;
  width: 60dvw;
  max-width: 1200px;
  aspect-ratio: 16/9;
  object-fit: cover;
}

.promote-img {
  position: relative;
  height: 100%;
}

.goods-tag {
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  padding: 1rem;
  width: fit-content;
  max-width: 250px;
  position: absolute;
  top: 60%;
}

.carousel-slide {
  width: 60dvw;
  max-width: 1200px;
  aspect-ratio: 16/9;
  overflow: hidden;
}

.arrow {
  font-size: 1.5vw;
  max-height: 50px;
  aspect-ratio: 1/1;
  margin: 0.25rem;
}

.dot {
  width: 0.5vw;
  max-width: 10px;
  height: 0.5vw;
  max-height: 10px;
  margin: 0.25vw;
  background-color: #d9d9d9;
  border-radius: 50%;
  cursor: pointer;
}

.active {
  background-color: #404040;
}

@media screen and (min-width: 577px) and (max-width: 1024px) {
  .img-container {
    width: 75dvw;
  }

  .carousel-slide {
    width: 75dvw;
  }

  .arrow {
    font-size: 3vw;
    aspect-ratio: 1/1;
  }

  .dot {
    width: 15px;
    max-width: 15px;
    max-height: 20px;
    margin: 0.25rem;
    margin-top: 0.5rem;
    border-radius: 10%;
  }

  .goods-tag {
    transform-origin: 0 100%;
    position: absolute;
    padding: 0.5rem;
    width: fit-content;
    height: fit-content;
    font-size: larger;
    max-width: 350px;
    top: auto;
    bottom: 5%;
    left: 5%;
    border-radius: 10px;
  }
}

@media screen and (max-width: 576px) {
  .img-container {
    width: 90dvw;
  }

  .carousel-slide {
    width: 90dvw;
  }

  .arrow {
    font-size: 5vw;
    aspect-ratio: 1/1;
  }

  .dot {
    width: 10px;
    max-height: 20px;
    margin: 0.25rem;
    margin-top: 0.5rem;
    border-radius: 10%;
  }

  .goods-tag {
    transform-origin: 0 100%;
    position: absolute;
    padding: 0.5rem;
    width: fit-content;
    height: fit-content;
    font-size: smaller;
    max-width: 200px;
    top: auto;
    bottom: 5%;
    left: 5%;
    border-radius: 10px;
  }
}
