.category-indicator {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 2.5rem;
  font-size: 1.3rem;
  text-align: center;
  border-radius: 10px;
  background-color: #a0937d;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s color 0.3s ease-in;
}

.thisType {
  background-color: white;
  color: #a0937d;
}
